body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #34312e;
    color: #d6d1d1;
}

header {
    background-color: #b85bd7bd;
    color: white;
    padding: 20px 10%;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    padding: 20px 10%;
}

.section {
    margin-bottom: 40px;
}

h2 {
    color: #c87fbc;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #ffab00;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
