body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #34312e;
    color: #d6d1d1;
}

header {
    background-color: #b85bd7bd;
    color: white;
    padding: 20px 10%;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    padding: 20px 10%;
}

.section {
    margin-bottom: 40px;
}

h2 {
    color: #c87fbc;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #ffab00;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.cat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#catImage {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    border: 2px solid #6200ea;
    border-radius: 8px;
}

img {
    max-width: 90%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
button:hover {
    background-color: #0056b3;
}

.catimage {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
.catimage img {
    max-width: 90%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.catimage button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.catimage button:hover {
    background-color: #0056b3;
}